* {
    margin: 0%;
    font-weight: 100;
}

.container {
    margin: 20px;
    padding: 20px 0;
    color: white;
    border: 2px solid rgb(175, 175, 226);
    background-color: rgb(177, 177, 228);
    width: fit-content;
}

.content-1 {
    padding: 20px 15px;
    text-transform: capitalize;
}

#heading1 {
    border: 5px solid;
    margin: 10px;
}

#heading2 {
    background-color: rgb(202, 180, 230);
    border: 3px solid;
    margin: 10px;
}

#heading3 {
    margin: 10px;
    border: 1px solid;
}